<!-- Script Loader Component -->
<!-- 
FILE: script-loader.html (13 lines)
PURPOSE: Common script loading for all pages
SECTIONS:
1-13: External and internal script imports
-->
<script src="assets/js/utils/component-loader.js"></script>
<script src="services/path-service.js"></script>
<script src="https://unpkg.com/lucide@latest"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assets/js/utils/api-client.js"></script>
<script src="assets/js/header.js"></script>